.fc-event-main{
  cursor: pointer;
}

html,
body,
#react-root {
  height: 100%;
  background-image: url('./public/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  
}

.background-box{
  background-image: linear-gradient(to bottom, #334666ff, #A3C4E0ff, #D6C4C0ff, #8693A4ff, #AFBCBAff);
  position:relative;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: auto;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}



/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

/* .container {
  padding: 20px;
} */



/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #d6d8d9;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  margin-top: 80px;
}

.fc 
.fc-media-screen {
  border-radius: 2%;
}
.fc-direction-ltr {
  border-radius: 2%;
}
