

/* .fc-daygrid-day-frame {
    height: 60px;
    padding: 2px;
    border: 1px solid black;
    background-color: rgb(245, 241, 241), 0.2;
    } */

.fc{
    background-color: #F1FADA;
    padding: 30px;
    display:flex;
    width: 1000px;
}

.fc-toolbar-title{
    color:#265073;
}

.fc-daygrid-day-frame{
    background-color: #F1FADA;
}
.fc-scrollgrid-sync-inner{
    background-color: #F1FADA;
}
.fc-timegrid-axis{
    background-color: #F1FADA;
}
.fc-timegrid-axis-frame{
    background-color:#F1FADA;
}

/* .fc-toolbar{
    background-color:#265073;
} */
.fc-toolbar-title{
    color: black;
}

.cal-border{
    background-color: #265073;
    color: #265073;
}

.fc-list-day-cushion{
    background-color:#e3ecce ;
}

div.fc-toolbar-chunk {
    display: flex;
}

.fc-header-toolbar{
    display: flex;
} 
.fc-toolbar {
    display: flex;
}
.fc-toolbar-ltr{
    display: flex;
}
.fc .fc-daygrid-event {
    font-size: 10px;
    text-wrap: wrap;
}
div.fc-toolbar-chunk {
    display: flex;
}
div.fc-header-toolbar.fc-toolbar {
    display: flex;
    flex-wrap: wrap;
}
button.fc-viewButton-button.fc-button.fc-button-primary {
    margin-right: 2px;
    margin-bottom: 2px;
}