/* .fc-daygrid-day-frame {
    height: 60px;
    padding: 2px;
    border: 1px solid black;
    background-color: rgb(245, 241, 241), 0.2;
    }

.fc-timegrid-slot{
    background-color: blanchedalmond;
}
 */
